<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Zoo Arcadia</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header class="text-center">
            <a href="{{ url_for('home') }}">
                <img class="img-logo center" src="/static/assets/img/logo.png" alt="logo Zoo Arcadia" />
            </a>
            <ul class="nav-btn d-none d-lg-flex">
                {% if 'user_id' in session %}
                    <li class="nav-item-btn">
                        <a href="{{ url_for('logout') }}" class="btn btn-primary btn-connexion">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item-btn">
                        <a href="{{ url_for('login') }}" class="btn btn-primary btn-connexion">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </header>
        

        <!-- *********** Navigation ************ -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{{ url_for('home') }}">ZOO ARCADIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('services') }}">Services</a></li>
                        <li class="nav-item px-lg-4 dropdown">
                            <a class="nav-link text-uppercase dropdown-toggle" href="{{ url_for('habitats') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitats</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('habitats') }}">Voir tous les habitats</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=1) }}">Habitat 1 - Savane Africaine</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=2) }}">Habitat 2 - Forêt d'eucalyptus</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=3) }}">Habitat 3 - Forêt Tempérée</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=4) }}">Habitat 4 - Jungle Tropicale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('home') }}#avis">Avis</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('contact') }}">Contact</a></li>
                        {% if 'user_id' in session %}
                            {% if session['user_role'] == 'admin' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('admin') }}">Mon espace</a></li>
                            {% elif session['user_role'] == 'employee' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('employee') }}">Mon espace</a></li>
                            {% elif session['user_role'] == 'veterinarian' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('veterinarian') }}">Mon espace</a></li>
                            {% endif %}
                        {% endif %}
                        <!-- Ajoutez le bouton Connexion/Déconnexion dans le menu burger -->
                        {% if 'user_id' in session %}
                            <li class="nav-item d-lg-none">
                                <a href="{{ url_for('logout') }}" class="nav-link text-uppercase">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item d-lg-none">
                                <a href="{{ url_for('login') }}" class="nav-link text-uppercase">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

         <!-- Habitat 2 -->
        <h2 class="section-heading3 mb-4">
            <span class="section-heading-upper text-center">{{ habitat.name }}</span>
        </h2>

        <!-- Bouton Ajouter un animal -->
        {% if 'user_role' in session and session['user_role'] == 'admin' %}
        <div class="text-center mb-4">
            <a href="{{ url_for('add_animal', habitat_id=habitat.id) }}" class="btn btn-success">Ajouter un animal</a>
        </div>
        {% endif %}

        <!-- ***** 2 nouveaux blocks **** -->
        <section class="page-section2 cta2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mx-auto">
                        <div class="row">
                            {% for animal in animals %}
                            <div class="col-md-6">
                                <div class="inner5 bg-faded text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower2">- {{ animal.name }} -</span>
                                        <span class="section-heading-upper2">{{ animal.species }}</span>
                                    </h2>
                                    <div class="encadrement">
                                        <!-- <p class="mb-0">{{ animal.description }}</p> -->
                                         <!-- Description spécifique pour certains animaux -->
                                        {% if animal.name == 'Eucalyptus' %}
                                            <p class="mb-0">Eucalyptus est un koala tranquille et observateur, connu pour sa passion pour les feuilles d'eucalyptus. Il passe la plupart de ses journées accrochée aux branches des arbres, profitant du calme et de la chaleur. Sa présence paisible et ses habitudes de brossage minutieuses en font un visiteur très apprécié dans notre habitat.<br></br></p>
                                        {% elif animal.name == 'Bamboo' %}
                                            <p class="mb-0">Bamboo est un koala plus jeune et curieux. Bien qu'il soit encore en train d'apprendre les subtilités de la vie dans les arbres, il est extrêmement affectueux et aime explorer son environnement. Il passe beaucoup de temps à jouer avec les feuilles et à s'exercer à grimper.<br></br></p>
                                        {% elif animal.name == 'Walt' %}
                                            <p class="mb-0">Walt est un kangourou dynamique et sociable, toujours prêt à sauter et à explorer. Il adore se déplacer à travers l'habitat, utilisant ses puissantes pattes pour de grands bonds. Walt est souvent vu en train de fouiller les herbes et d'interagir avec les autres membres du groupe.<br></br></p>
                                        {% elif animal.name == 'Riley' %}
                                            <p class="mb-0">Riley est un kangourou plus calme, qui préfère les moments de détente à l'ombre. Il est observateur et méthodique, passant du temps à se reposer après avoir brouté. Riley est un membre équilibré du groupe, apportant une touche de sérénité parmi ses compagnons plus actifs.<br></br></p>
                                        {% elif animal.name == 'Pip' %}
                                            <p class="mb-0">Pip est un possum à queue en anneau agile et vif. Il utilise sa queue préhensile pour se déplacer habilement entre les branches et est souvent en train de fouiller le feuillage à la recherche de fruits et d'insectes. Sa nature espiègle le rend particulièrement amusant à observer.<br></br></p>
                                        {% elif animal.name == 'Cleo' %}
                                            <p class="mb-0">Cleo est un possum à queue en anneau plus tranquille, appréciant les moments de calme dans les arbres. Elle est experte dans l'art de trouver des cachettes pour ses friandises et est souvent vue en train de se reposer dans les branches les plus élevées.<br></br></p>
                                        {% elif animal.name == 'Thorn' %}
                                            <p class="mb-0">Thorn est un échidné réservé et méthodique, qui passe ses journées à chercher des termites et des fourmis dans le sol. Son apparence piquante et son museau allongé en font un animal unique et fascinant à observer. Thorn est un excellent exemple de la diversité des habitants de la forêt.<br></br></p>
                                        {% elif animal.name == 'Moss' %}
                                            <p class="mb-0">Moss est un échidné plus jeune et curieux, en pleine exploration de son environnement. Il aime fouiller le sol et utiliser ses épines pour se protéger. Moss est en pleine croissance et montre un grand appétit pour les petits invertébrés.<br></br></p>
                                        {% elif animal.name == 'Tilly' %}
                                            <p class="mb-0">Tilly est un wallaby dynamique et enjoué, souvent vue en train de sautiller joyeusement à travers l'habitat. Elle est pleine d'énergie et adore se nourrir de jeunes pousses et de feuilles, qu'elle trouve avec habileté.<br></br></p>
                                        {% elif animal.name == 'Buddy' %}
                                            <p class="mb-0">Buddy est un wallaby plus réservé, préférant passer du temps dans des endroits calmes de l'enclos. Il est observateur et apprécie les moments de tranquillité après avoir brouté. Buddy est un membre apaisant du groupe, équilibrant l'énergie de ses compagnons.<br></br></p>
                                        {% else %}
                                            <p class="mb-0">Description générique pour {{ animal.name }}<br></br></p>
                                        {% endif %}
                                        <img class="intro2-img img-fluid2 mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='assets/img/' ~ animal.image) }}" alt="{{ animal.name }}" />
                                    </div>
                                    <!-- Avis du vétérinaire - à voir si je supprime _H1 ou que je change pour les autres habitats -->
                                <div class="encadrement2" id="avis{{ animal.id }}_H1"> 
                                    <p class="title">Avis du vétérinaire</p>
                                    {% if vet_records_by_animal[animal.id] %}
                                        <p class="details">
                                            Date: {{ vet_records_by_animal[animal.id].date }}<br>
                                            État de l'animal: {{ vet_records_by_animal[animal.id].health_status }}<br>
                                            Nourriture proposée: {{ vet_records_by_animal[animal.id].food }}<br>
                                            Grammage de la nourriture: {{ vet_records_by_animal[animal.id].weight }}<br>
                                            Détails: {{ vet_records_by_animal[animal.id].details }}<br>
                                            <!-- Nombre de consultations: {{ vet_records_by_animal[animal.id].consultation_count }}<br> -->
                                        </p>
                                    {% else %}
                                        <p class="details">Aucun enregistrement vétérinaire disponible.</p>
                                    {% endif %}
                                </div>
                                <!-- Boutons Modifier et Supprimer -->
                                {% if 'user_role' in session and session['user_role'] == 'admin' %}
                                <div class="text-center mt-3">
                                    <a href="{{ url_for('edit_animal', animal_id=animal.id) }}" class="btn btn-warning">Modifier</a>
                                    <form method="POST" action="{{ url_for('delete_animal', animal_id=animal.id) }}" style="display:inline;">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </div>
                                {% endif %}     
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
       
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
