<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Zoo Arcadia</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header class="text-center">
            <a href="{{ url_for('home') }}">
                <img class="img-logo center" src="/static/assets/img/logo.png" alt="logo Zoo Arcadia" />
            </a>
            <ul class="nav-btn d-none d-lg-flex">
                {% if 'user_id' in session %}
                    <li class="nav-item-btn">
                        <a href="{{ url_for('logout') }}" class="btn btn-primary btn-connexion">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item-btn">
                        <a href="{{ url_for('login') }}" class="btn btn-primary btn-connexion">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </header>
        

        <!-- *********** Navigation ************ -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{{ url_for('home') }}">ZOO ARCADIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('services') }}">Services</a></li>
                        <li class="nav-item px-lg-4 dropdown">
                            <a class="nav-link text-uppercase dropdown-toggle" href="{{ url_for('habitats') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitats</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('habitats') }}">Voir tous les habitats</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=1) }}">Habitat 1 - Savane Africaine</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=2) }}">Habitat 2 - Forêt d'eucalyptus</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=3) }}">Habitat 3 - Forêt Tempérée</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=4) }}">Habitat 4 - Jungle Tropicale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('home') }}#avis">Avis</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('contact') }}">Contact</a></li>
                        {% if 'user_id' in session %}
                            {% if session['user_role'] == 'admin' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('admin') }}">Mon espace</a></li>
                            {% elif session['user_role'] == 'employee' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('employee') }}">Mon espace</a></li>
                            {% elif session['user_role'] == 'veterinarian' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('veterinarian') }}">Mon espace</a></li>
                            {% endif %}
                        {% endif %}
                        <!-- Ajoutez le bouton Connexion/Déconnexion dans le menu burger -->
                        {% if 'user_id' in session %}
                            <li class="nav-item d-lg-none">
                                <a href="{{ url_for('logout') }}" class="nav-link text-uppercase">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item d-lg-none">
                                <a href="{{ url_for('login') }}" class="nav-link text-uppercase">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ********* Habitat 1 ********** -->
        <section class="page-section2 cta2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mx-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower2 text-center">Habitat 1</span>
                                    <span class="section-heading-upper2 text-center">Savane Africaine</span>
                                </h2>
                                <div class="inner5 bg-faded text-center rounded">
                                    <p class="mb-0">Bienvenue dans notre Habitat de la Savane Africaine, un espace où la biodiversité de ce magnifique écosystème est recréée pour vous offrir une expérience immersive et éducative. 
                                        Dans cet habitat, vous pourrez observer une variété d'animaux cohabitant harmonieusement, sans la présence de prédateurs majeurs, ce qui met en avant leur comportement naturel et leurs interactions pacifiques. 
                                        Zèbres, girafes, autruches, gazelles, et phacochère partagent cet espace, recréant la dynamique sociale unique de la savane africaine. Chaque espèce contribue à la richesse de cet environnement, 
                                        offrant aux visiteurs une vue d'ensemble de la vie sauvage africaine.</b>.<br></br></p>
                                    <!-- <div class ="col-md-6"> -->
                                    <img class="intro2-img img-fluid2 mb-3 mb-lg-0 rounded" src="/static/assets/img/habitat1.jpg" alt="..." />
                                    <!-- </div> -->
                                </div>
                                <div class="intro-button2 mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('habitat', habitat_id=1) }}">Voir plus d'informations sur l'habitat</a></div>  
                            </div>
                            <!-- ********* Habitat 2 ********** -->
                            <div class="col-md-6">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower2 text-center">Habitat 2</span>
                                    <span class="section-heading-upper2 text-center">Forêt d'Eucalyptus</span>
                                </h2>
                                <div class="inner5 bg-faded text-center rounded">
                                    <p class="mb-0">Bienvenue dans notre Habitat de la <b>Forêt d'Eucalyptus en Australie</b>, une reconstitution immersive de l'un des écosystèmes 
                                        les plus <b>uniques au monde</b>. Cet habitat abrite une diversité d'animaux fascinants, chacun ayant <b>évolué pour prospérer dans cet environnement</b> 
                                        riche en eucalyptus. Venez découvrir <b>la vie secrète de ces créatures extraordinaires</b>, chacune jouant un rôle crucial dans cet écosystème.</b>.<br></br></p>
                                    <img class="intro2-img img-fluid2 mb-3 mb-lg-0 rounded" src="/static/assets/img/habitat2.jpg" alt="..." />
                                </div>
                                <div class="intro-button2 mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('habitat', habitat_id=2) }}">Voir plus d'informations sur l'habitat</a></div>
                            </div>
                            
            <!-- ***** 2 nouveaux blocks **** -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mx-auto">
                        <div class="row">
                            <div class="col-xl-12 mx-auto">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="section-heading2 mb-4">
                                            <span class="section-heading-lower2 text-center">Habitat 3</span>
                                            <span class="section-heading-upper2 text-center">Forêt Tempérée</span>
                                        </h2>
                                        <div class="inner5 bg-faded text-center rounded">
                                            <p class="mb-0">Bienvenue dans notre Habitat de la Forêt Tempérée (USA), une reconstitution immersive de l'écosystème varié et riche des forêts tempérées américaines. 
                                                Cet habitat abrite une diversité d'animaux emblématiques, chacun parfaitement adapté à ce milieu. Ours noirs, cerfs de Virginie, ratons laveurs, écureuils gris, 
                                                et chouettes rayées partagent cet espace, recréant l'équilibre naturel de la forêt. Venez observer ces espèces fascinantes et découvrir 
                                                leurs interactions uniques dans cet environnement luxuriant.</b>.<br></br></p>
                                                    <!-- <div class ="col-md-6"> -->
                                                <img class="intro2-img img-fluid2 mb-3 mb-lg-0 rounded" src="/static/assets/img/habitat3.jpg" alt="..." />
                                                    <!-- </div> -->
                                        </div>
                                        <div class="intro-button2 mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('habitat', habitat_id=3) }}">Voir plus d'informations sur l'habitat</a></div>   
                                    </div>
                                            <!-- <div class="row"> -->
                                                <div class="col-md-6">
                                                    <h2 class="section-heading2 mb-4">
                                                        <span class="section-heading-lower2 text-center">Habitat 4</span>
                                                        <span class="section-heading-upper2 text-center">Forêt Tropicale</span>
                                                        <!-- <span class="section-heading-lower">Worth Drinking</span> -->
                                                    </h2>
                                                    <div class="inner5 bg-faded text-center rounded">
                                                        <p class="mb-0">Bienvenue dans notre Habitat de la Forêt Tropicale, une reconstitution immersive de l'écosystème luxuriant et diversifié des forêts tropicales. 
                                                            Cet habitat abrite une multitude d'animaux fascinants, chacun évoluant dans ce milieu riche et dense. Capucins, paresseux, toucans, agoutis, et singes-araignées 
                                                            cohabitent dans cet espace, recréant la complexité et l'abondance de la vie dans la forêt tropicale. Venez découvrir ces espèces étonnantes et leurs interactions 
                                                            uniques dans ce cadre vibrant et vivant..<br></br></p>
                                                        <!-- <div class ="col-md-6"> -->
                                                        <img class="intro2-img img-fluid2 mb-3 mb-lg-0 rounded" src="/static/assets/img/habitat4.jpg" alt="..." />
                                                        <!-- </div> -->
                                                    </div>
                                                    <div class="intro-button2 mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('habitat', habitat_id=4) }}">Voir plus d'informations sur l'habitat</a></div>
                                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- ********* Footer ********** -->
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; ZOO ARCADIA 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
