<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ habitat.name }}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header class="text-center">
            <a href="{{ url_for('home') }}">
                <img class="img-logo center" src="/static/assets/img/logo.png" alt="logo Zoo Arcadia" />
            </a>
            <ul class="nav">
            {% if 'user_id' in session %}
                <a href="{{ url_for('logout') }}" class="btn btn-primary btn-connexion">Déconnexion</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-connexion">Connexion</a>
            {% endif %}
            </ul>
            <!-- <a href="{{ url_for('register') }}" class="btn btn-primary btn-connexion">Connexion</a> -->
        </header>
        
        <!-- *********** Navigation ************ -->
        <!-- ajouter connexion dans la navbar uniquement pour le format petit écran -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">ZOO ARCADIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('services') }}">Services</a></li>
                        <li class="nav-item px-lg-4 dropdown">
                            <a class="nav-link text-uppercase dropdown-toggle" href="{{ url_for('habitats') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitats</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('habitats') }}">Voir tous les habitats</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=1) }}">Habitat 1 - Savane Africaine</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=2) }}">Habitat 2 - Forêt d'eucalyptus</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=3) }}">Habitat 3 - Forêt Tempérée</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=4) }}">Habitat 4 - Jungle Tropicale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('home') }}#avis">Avis</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>

        <!-- Habitat 1 -->
        <h2 class="section-heading3 mb-4">
            <span class="section-heading-upper text-center">{{ habitat.name }}</span>
        </h2>

        <!-- ***** 2 nouveaux blocks **** -->
        <section class="page-section2 cta2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mx-auto">
                        <div class="row">
                            {% for animal in animals %}
                            <div class="col-md-6">
                                <div class="inner5 bg-faded text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower2">- {{ animal.name }} -</span>
                                        <span class="section-heading-upper2">{{ animal.species }}</span>
                                    </h2>
                                    <div class="encadrement">
                                        <!-- <p class="mb-0">{{ animal.description }}</p> -->
                                         <!-- Description spécifique pour certains animaux -->
                                        {% if animal.name == 'Milo' %}
                                            <p class="mb-0">Milo est un capucin curieux et intelligent, toujours à la recherche de nouvelles choses à découvrir. Il aime explorer son environnement, grimper dans les arbres, et manipuler des objets avec ses mains habiles. Sa nature espiègle et son énergie inépuisable en font un spectacle captivant pour les visiteurs.<br></br></p>
                                        {% elif animal.name == 'Maya' %}
                                            <p class="mb-0">Maya est une capucine douce et sociable, connue pour sa capacité à créer des liens avec les autres membres de son groupe. Elle passe beaucoup de temps à interagir avec ses compagnons, partageant de la nourriture et prenant soin des plus jeunes. Maya est particulièrement friande de fruits frais et de petits insectes qu'elle trouve avec agilité.<br></br></p>
                                        {% elif animal.name == 'Coco' %}
                                            <p class="mb-0">Coco est un paresseux calme et serein, qui aime passer ses journées suspendu aux branches des arbres. Son rythme lent et détendu contraste avec l'énergie des autres habitants de la jungle, offrant une scène de tranquillité. Coco adore grignoter des feuilles tendres et des bourgeons frais.<br></br></p>
                                        {% elif animal.name == 'Gigi' %}
                                            <p class="mb-0">Gigi est une jeune paresseuse encore en apprentissage, qui découvre lentement les subtilités de la vie dans la canopée. Bien qu'elle soit plus petite et plus timide que Coco, elle montre déjà un grand appétit pour les fruits et passe beaucoup de temps à se reposer, observant le monde qui l'entoure.<br></br></p>
                                        {% elif animal.name == 'Mango' %}
                                            <p class="mb-0">Mango est un toucan éclatant avec un bec coloré saisissant. Il est souvent vu sautant de branche en branche à la recherche de fruits mûrs et juteux. Mango est aussi connu pour ses cris perçants qui résonnent à travers la jungle, attirant l'attention des visiteurs.<br></br></p>
                                        {% elif animal.name == 'Kiwi' %}
                                            <p class="mb-0">Kiwi est une toucane plus réservée, préférant les zones tranquilles de l'habitat où elle peut picorer des fruits en paix. Son vol gracieux et ses couleurs vives font d'elle une présence captivante, ajoutant une touche de beauté exotique à l'habitat.<br></br></p>
                                        {% elif animal.name == 'Nina' %}
                                            <p class="mb-0">Nina est une agouti vive et agile, constamment en quête de noix et de graines à stocker pour plus tard. Elle est particulièrement douée pour se faufiler à travers la végétation dense, trouvant toujours les meilleures cachettes pour sa précieuse nourriture.<br></br></p>
                                        {% elif animal.name == 'Oscar' %}
                                            <p class="mb-0">Oscar est un agouti plus calme, qui passe beaucoup de temps à grignoter tranquillement des fruits au sol. Il est moins actif que Nina, préférant rester à l'abri des arbres et savourer chaque morceau de nourriture avec attention.<br></br></p>
                                        {% elif animal.name == 'Vlad' %}
                                            <p class="mb-0">Vlad est un singe-araignée espiègle et acrobatique, connu pour sa capacité à se balancer gracieusement d'arbre en arbre avec sa queue préhensile. Il adore les fruits sucrés et les insectes, qu'il attrape habilement en plein vol.<br></br></p>
                                        {% elif animal.name == 'Léo' %}
                                            <p class="mb-0">Léo est un singe-araignée élégant et calme, qui préfère observer son environnement avec curiosité. Il est souvent vu en train de se nourrir de feuilles tendres ou de se reposer paisiblement après une journée de jeu. Sa nature douce et contemplative contraste avec l'énergie débordante de Simba.<br></br></p>
                                        {% else %}
                                            <p class="mb-0">Description générique pour {{ animal.name }}<br></br></p>
                                        {% endif %}
                                        <img class="intro2-img img-fluid2 mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='assets/img/' ~ animal.image) }}" alt="{{ animal.name }}" />
                                    </div>
                                    <!-- Avis du vétérinaire - à voir si je supprime _H1 ou que je change pour les autres habitats -->
                                    <div class="encadrement2" id="avis{{ animal.id }}_H1"> 
                                        <p class="title">Avis du vétérinaire</p>
                                        {% if vet_records_by_animal[animal.id] %}
                                            <p class="details">
                                                Date: {{ vet_records_by_animal[animal.id].date }}<br>
                                                État de l'animal: {{ vet_records_by_animal[animal.id].health_status }}<br>
                                                Nourriture proposée: {{ vet_records_by_animal[animal.id].food }}<br>
                                                Grammage de la nourriture: {{ vet_records_by_animal[animal.id].weight }}<br>
                                                Détails: {{ vet_records_by_animal[animal.id].details }}<br>
                                                <!-- Nombre de consultations: {{ vet_records_by_animal[animal.id].consultation_count }}<br> -->
                                            </p>
                                        {% else %}
                                            <p class="details">Aucun enregistrement vétérinaire disponible.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
