<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Zoo Arcadia</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header classe="text-center">
            <a href="{{ url_for('home') }}">
                <img class="img-logo center" src="/static/assets/img/logo.png" alt="logo Zoo Arcadia" />
            </a>
            <a href="{{ url_for('register') }}" class="btn btn-primary btn-connexion">Connexion</a>
        </header>
        
        <!-- *********** Navigation ************ -->
        <!-- ajouter connexion dans la navbar uniquement pour le format petit écran -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">ZOO ARCADIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('services') }}">Services</a></li>
                        <li class="nav-item px-lg-4 dropdown">
                            <a class="nav-link text-uppercase dropdown-toggle" href="{{ url_for('habitats') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitats</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('habitats') }}">Voir tous les habitats</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=1) }}">Habitat 1 - Savane Africaine</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=2) }}">Habitat 2 - Forêt d'eucalyptus</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=3) }}">Habitat 3 - Forêt Tempérée</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=4) }}">Habitat 4 - Jungle Tropicale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('home') }}#avis">Avis</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('contact') }}">Contact</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('admin') }}">ADMIN</a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>

        <!-- *********** Infos pratiques ************ -->
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/assets/img/intro.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Infos pratiques</span>
                            <!-- <span class="section-heading-lower">Worth Drinking</span> -->
                        </h2>
                        <p class="mb-3">Retrouvez nous tous les jours de 10h à 20h au 1 place du roi Saint-Judicaël 35380 Paimpont Bretagne</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="index.html#avis">Déjà venu ? Laissez un avis</a></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- *********** Services ************ -->
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro2">
                    <img class="intro2-img img-fluid mb-3 mb-lg-0 rounded" src="/static/assets/img/resto.jpg" alt="..." />
                    <div class="intro2-text right-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Services</span>
                            <!-- <span class="section-heading-lower">Worth Drinking</span> -->
                        </h2>
                        <p class="mb-3">Visites guidées des habitats, visites du zoo en petit train, restauration, retrouvez tous nos services juste ici</p>
                        <div class="intro2-button mx-auto"><a class="btn btn-primary btn-xl" href="services.html">Services</a></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- *********** Habitats ************ -->
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/assets/img/multiple.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Habitats</span>
                            <!-- <span class="section-heading-lower">Worth Drinking</span> -->
                        </h2>
                        <p class="mb-3">Nous avons X habitats différents (liste), jetez-y un coup d'oeil avant votre visite</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="habitats.html">Habitats</a></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- *********** Avis ************ -->
        <section class="page-section cta" id="avis">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-container">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Donnez votre avis</span>
                                <!-- <span class="section-heading-lower">AVIS</span> -->
                            </h2>
                            <form id="formulaire">
                                <fieldset id="infos">
                                  <legend><h2>Informations</h2></legend>
                                  <div id="div_nm">
                                      <label for="name" class="align-left">Nom complet : </label><input type="text" name="nom" id="name" placeholder="Merlin L'enchanteur" required="true">
                                  </div>
                                  <div id="div_pseudo">
                                    <label for="pseudo" class="align-left">Pseudo : </label><input type="text" name="pseudo" id="Pseudo" placeholder="Myrddin35380" required="true">
                                </div>
                                </fieldset>
                          
                          
                                <fieldset id="message">
                                  <legend><h2>Message</h2></legend>
                                  <div>
                                      <label for="objet" class="align-left">Titre :</label><input type="text" id="title" name="title" placeholder="Titre de votre avis" required>
                                  </div>
                                  <div>
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message..." required></textarea>
                                    <!-- <textarea name="description" id="description" cols="30" rows="10"></textarea> -->
                                  </div><br/>
                                </fieldset>
                                <input type="submit" value="Envoyer">
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <!-- *********** Footer ************ -->
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
