Super merci ! pour l'instant la structure de mon projet ressemble à ça : 
ECF/
├── __pycache__
├── assets
├── instance
│   └── zoo.db
├── sql
│   └── queries.sql
├── static
│   └── css
│       ├── connexion.css
│       └── styles.css
│   └── js
│       ├── server.js
│       └── script.js
├── templates
│   ├── admin.html
│   ├── contact.html
│   ├── habitat1.html
│   ├── habitat2.html
│   ├── habitat3.html
│   ├── habitat4.html
│   ├── habitats.html
│   ├── index.html
│   ├── login.html
│   ├── register.html
│   └── services.html
├── venv
│   ├── bin
│   ├── include
│   └── lib
├── app.py
├── commands.py
├── requirements.txt