 
ECF/
├── __pycache__
│   ├── app.cpython-312.pyc
│   ├── commands.cpython-312.pyc
│   ├── config.cpython-312.pyc
│   ├── extensions.cpython-312.pyc
│   ├── forms.cpython-312.pyc
│   └── utils.cpython-312.pyc
├── Docs_ECF
│   ├── charte_graphique.pdf
│   ├── gestion_projet_et_doc_tech.pdf
│   └── Manuel_utilisation.pdf
├── instance
│   └── zoo.db
├── migrations
│   └── __pycache__
│       ├── env.cpython-312.pyc
│   └── versions
│           └── __pycache__
│               ├── 55138e98b063_add_images_to_service_model.cpython-312.pyc
│               ├── 698939d54c1a_add_images_url_column_to_service_model.cpython-312.pyc
│               ├── d20a5cfcbc0d_add_images_to_service_model.cpython-312.pyc
│       ├── 55138e98b063_add_images_to_service_model
│       ├── 698939d54c1a_add_images_url_column_to_service_model
│       ├──d20a5cfcbc0d_add_images_to_service_model
│   ├── env.py
│   ├── README  
│   ├── alembic.ini
│   ├── env.py
│   ├── README
│   ├── script.py.mako
├── sql
│   └── queries.sql
├── static
│   └── assets
│       └── img
│   └── css
│       ├── connexion.css
│       └── styles.css
│   └── js
│       ├── server.js
│       └── scripts.js
│   └── uploads
├── templates
│   ├── admin.html
│   ├── contact.html
│   ├── habitat1.html
│   ├── habitat2.html
│   ├── habitat3.html
│   ├── habitat4.html
│   ├── habitats.html
│   ├── index.html
│   ├── login.html
│   ├── register.html
│   └── services.html
├── venv
│   ├── bin
│   ├── include
│   └── lib
├── animals.json
├── app.py
├── avis.json
├── commands.py
├── config.py
├── dailyfood.json
├── extensions.py
├── forms.py
├── models.py
├── Procfile
├── README.md
├── requirements.txt
├── services.json
├── start_linux.sh
├── start_mac.sh
├── users.json