<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Zoo Arcadia</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header class="text-center">
            <a href="{{ url_for('home') }}">
                <img class="img-logo center" src="/static/assets/img/logo.png" alt="logo Zoo Arcadia" />
            </a>
            <ul class="nav-btn">
                {% if 'user_id' in session %}
                    <li class="nav-item-btn">
                        <a href="{{ url_for('logout') }}" class="btn btn-primary btn-connexion">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item-btn">
                        <a href="{{ url_for('login') }}" class="btn btn-primary btn-connexion">Connexion</a>
                    </li>
                {% endif %}
            </ul>
            <!-- <a href="{{ url_for('register') }}" class="btn btn-primary btn-connexion">Connexion</a> -->
        </header>
        
        <!-- *********** Navigation ************ -->
        <!-- ajouter connexion dans la navbar uniquement pour le format petit écran -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">ZOO ARCADIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('services') }}">Services</a></li>
                        <li class="nav-item px-lg-4 dropdown">
                            <a class="nav-link text-uppercase dropdown-toggle" href="{{ url_for('habitats') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitats</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('habitats') }}">Voir tous les habitats</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=1) }}">Habitat 1 - Savane Africaine</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=2) }}">Habitat 2 - Forêt d'eucalyptus</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=3) }}">Habitat 3 - Forêt Tempérée</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('habitat', habitat_id=4) }}">Habitat 4 - Jungle Tropicale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('home') }}#avis">Avis</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('contact') }}">Contact</a></li>
                        {% if 'user_id' in session %}
                            {% if session['user_role'] == 'admin' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('admin') }}">Mon espace</a></li>
                            {% elif session['user_role'] == 'employee' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('employee') }}">Mon espace</a></li>
                            {% elif session['user_role'] == 'veterinarian' %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase underline" href="{{ url_for('veterinarian') }}">Mon espace</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- *********** Infos pratiques ************ -->
         <p>test véto</p>
        <section class="page-section2 cta2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-14 mx-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="inner5 bg-faded text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower2">- Ajouter un avis vétérinaire -</span>
                                    </h2>

        <!-- Afficher les messages de confirmation -->
         
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            <ul>
                                            {% for category, message in messages %}
                                                <li class="{{ category }}">{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}

                                    <form method="POST" action="{{ url_for('admin') }}">
                                        <label for="date">Date:</label><br>
                                        <input type="date" id="date" name="date" required><br><br>

                                        <label for="food">Nourriture:</label><br>
                                        <input type="text" id="food" name="food" required><br><br>

                                        <label for="weight">Grammage de la nourriture (grammes):</label><br>
                                        <input type="number" step="0.1" id="weight" name="weight" required><br><br>

                                        <label for="health_status">État de santé:</label><br>
                                        <input type="text" id="health_status" name="health_status" required><br><br>

                                        <label for="details">Détails:</label><br>
                                        <textarea id="details" name="details" required></textarea><br><br>

                                        <label for="animal_id">Animal:</label><br>
                                        <select id="animal_id" name="animal_id" required>
                                            {% for animal in animals %}
                                                <option value="{{ animal.id }}">{{ animal.name }} ({{ animal.species }})</option>
                                            {% endfor %}
                                        </select><br><br>

                                        <button type="submit" class="btn btn-primary">Ajouter la fiche</button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="inner5 bg-faded text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower2">- Consulter un avis vétérinaire -</span>
                                    </h2>
                                    <form method="GET" action="{{ url_for('admin') }}">
                                        <label for="date">Date:</label><br>
                                        <input type="date" id="date" name="date"><br><br>
        
                                        <label for="animal_id">Animal:</label><br>
                                        <select id="animal_id" name="animal_id">
                                            <option value="">Tous</option>
                                            {% for animal in animals %}
                                                <option value="{{ animal.id }}">{{ animal.name }} ({{ animal.species }})</option>
                                            {% endfor %}
                                        </select><br><br>
        
                                        <button type="submit" class="btn btn-primary">Filtrer</button>
                                    </form>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Animal</th>
                                                <th>Nourriture</th>
                                                <th>Grammage</th>
                                                <th>État de santé</th>
                                                <th>Détails</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in vet_records %}
                                                <tr>
                                                    <td>{{ record.date }}</td>
                                                    <td>{{ record.animal.name }} ({{ record.animal.species }})</td>
                                                    <td>{{ record.food }}</td>
                                                    <td>{{ record.weight }}</td>
                                                    <td>{{ record.health_status }}</td>
                                                    <td>{{ record.details }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Statistiques des consultations -->
        <section class="page-section2 cta2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-14 mx-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="inner5 bg-faded text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower2">- statistiques de consultations -</span>
                                    </h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Animal</th>
                                                <th>Nombre de Consultations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for animal in animals %}
                                            <tr>
                                                <td>{{ animal.name}} {{ animal.id}}</td>
                                                <td>{{ consultation_counts[animal.id] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Avis -->
         <!-- Section pour la modération des avis -->
    <section class="page-section2 cta2">
        <div class="container">
            <div class="row">
                <div class="col-xl-14 mx-auto">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="inner5 bg-faded text-center rounded">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower2">- Modération des Avis -</span>
                                </h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Pseudo</th>
                                            <th>Titre</th>
                                            <th>Message</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for avis in avis_a_valider %}
                                        <tr>
                                            <td>{{ avis.nom }}</td>
                                            <td>{{ avis.pseudo }}</td>
                                            <td>{{ avis.titre }}</td>
                                            <td>{{ avis.message }}</td>
                                            <td>
                                                <a href="{{ url_for('approve_review', avis_id=avis.id) }}" class="btn btn-success">Approuver</a>
                                                <a href="{{ url_for('disapprove_review', avis_id=avis.id) }}" class="btn btn-danger">Supprimer</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




        <!-- *********** Footer ************ -->
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
